.contact {
    position: relative;

}


.bottomText3 {
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.bottomText2 {
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.contact-section {
    width: 100%;
}