/*  color: #E9DEFF lighter white
    color: #0B001A dark
    color: #FFFFFF white
    color: #170034 violet
    color: #1E0044 purple
    color: #AE9BCB very light purple*/

/* -----------REUSEABLE COMPONENT------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #E9DEFF;
}


.allBorder {
    /* border: 20px solid ; */

    background-color: #170034;
    border-radius: 15px;
    min-height: 96vh;
}

.border {
    border-left: 16px solid #0B001A;
    border-right: 16px solid #0B001A;
    border-top: 16px solid #0B001A;

}

@font-face {
    font-family: roboto;
    src: url(../../../public/Roboto-Regular.ttf);
}



/* -----------MAIN NAV COMPONENT------ */
.mainNav {
    padding: 20px;
    text-align: center;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #E9DEFF;
    font-size: 18px;
}

.center-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.talkBtn {
    border: 1px solid #AE9BCB;
    border-radius: 20px;
    padding: 8px 12px;
}

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
}



/* -----------PARA COMPONENT------ */

.beautiful {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #AE9BCB;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: 500;
    background: linear-gradient(to bottom, #8338EC 0%, #B923FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.title {
    font-weight: 400;
    font-family: roboto;
    font-size: 6em;
    text-align: center;
    margin-top: 1.5em;
}


.text {
    margin-top: 15px;
    font-family: roboto;
    text-align: center;
    font-size: 20px;
}

.bottomText {
    text-align: right;
    position: absolute;
    bottom: 30px;
    right: 30px;
}


@media screen and (max-width: 760px) {
    .name {
        font-size: 18px;
    }

    a {
        font-size: 13px;
    }

    .title {
        font-size: 4em;
    }
}

@media screen and (max-width: 600px) {
    .name {
        font-size: 16px;
    }

    a {
        font-size: 12px;
    }

    .title {
        font-size: 3em;
        margin-top: 100px;
    }

    .text {
        font-size: 16px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    .name {
        font-size: 16px;
    }

    a {
        font-size: 12px;
    }

    .title {
        font-size: 2em;
        margin-top: 100px;
    }

    .text {
        font-size: 12px;
        margin-top: 20px;
    }

    .center-div {

        padding: 15px 0;
    }

    .mainNav {
        flex-direction: column;
    }
}