/*  color: #E9DEFF lighter white
    color: #0B001A dark
    color: #FFFFFF white
    color: #170034 violet
    color: #1E0044 purple
    color: #AE9BCB very light purple*/



/* -----------TEXT COMPONENT------ */

.container {
    background: linear-gradient(to right, #8338EC 0%, #B923FF);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border-top: 16px solid #0B001A;
    border-left: 16px solid #0B001A;
    border-right: 16px solid #0B001A;

}

.col {
    flex: 1;
    text-align: left;
    padding: 30px;

}



.midBorder {
    border-right: 8px solid #0B001A;
    border-radius: 15px;

}

.midBorder2 {
    border-left: 8px solid #0B001A;
    border-radius: 15px;
}

.text2 {
    margin-top: 100px;
    color: #E9DEFF;
}

.col ul li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #E9DEFF;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #E9DEFF;
}

@media screen and (max-width: 760px) {
    .container {
        flex-direction: column;
    }

    .midBorder {
        border-bottom: 8px solid #0B001A;
        border-radius: 15px;
        border-right: 0;

    }

    .midBorder2 {
        border-top: 8px solid #0B001A;
        border-radius: 15px;
        border-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .container h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 400px) {
    .container h1 {
        font-size: 1.5em;
    }

    .container p {
        font-size: 13px;
    }

    a {
        font-size: 13px;

    }
}