/*  color: #E9DEFF lighter white
    color: #0B001A dark
    color: #FFFFFF white
    color: #170034 violet
    color: #1E0044 purple
    color: #AE9BCB very light purple*/



/* -----------TEXT COMPONENT------ */

.container {
    background: linear-gradient(to right, #8338EC 0%, #B923FF);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.col {
    flex: 1;
    text-align: left;
    padding: 30px;
    border: 20px solid #0B001A;
    /* box-shadow: 0 0 30px inset #0B001A; */

}

.text2 {
    margin-top: 100px;
    color: #E9DEFF;
}

.col ul li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #E9DEFF;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #E9DEFF;
}



.inner-border-box {
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #0B001A;
}



/* -----------KORA COMPONENT------ */


@media screen and (max-width: 760px) {
    .container{
        flex-direction: column;
    }
}