.col3 {
    flex: 1;
    text-align: left;
    padding: 30px;
    margin-top: 30px;
}

.awardSection {
    display: flex;
    background-color: #E9DEFF;
}

/* #0B001A */

.award {
    color: #0B001A;
    font-family: roboto;
    font-size: 4em;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.row p {
    color: #1E0044;
    font-family: roboto;
}

.row4 {
    padding: 20px;
    border-top: 1px solid #1E0044;
}

.row4:last-child {
    border-bottom: 1px solid #1E0044;
    margin: 0 0 20px 0;
}

.row4 h2 {
    color: #1E0044;
    font-family: roboto;
}

.icon3 {
    float: right;
    display: inline;
}

@media screen and (max-width: 760px) {
    .row h2 {
        font-size: 1em;
    }

    .award {
        font-size: 3em;
    }
}

@media screen and (max-width: 600px) {
    .row {
        gap: 5px;
    }

    .col3 {
        padding: 15px;
        margin-top: 16px;
    }

    .row p {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .col3 {
        padding: 10px;
        margin-top: 10px;
    }

    .row h2 {
        font-size: 0.7em;
    }

    .award {
        font-size: 2em;
    }

    .row p {
        font-size: 10px;
    }

    .row4>svg {
        size: 2em;
    }

}