/* background-color: rgb(58, 26, 68);
text-background: #8a68ba; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: #0B001A;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.allBorder {
  background-color: #170034;
  border-radius: 15px;
  min-height: 96vh;
}



.mainNav {
  padding: 20px;
  text-align: center;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #E9DEFF;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.center-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}



h1,
p {
  color: #E9DEFF;
}