/* background-color: rgb(58, 26, 68);
text-background: #8a68ba; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  background-color: #0B001A;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.allBorder {
  /* border: 20px solid ; */

  background-color: #170034;
  border-radius: 15px;
  min-height: 96vh;
}

