







/* -----------STUDY SECTION ONE---------- */


.studySection1 {
    min-height: 100vh;
    background-color: #E9DEFF;
    border: 20px solid #0B001A;

    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;

}

.col2{
    flex: 1;
}

.imgContainer{
    flex: 1;
}

.imgContainer > img {
    width: 100%;
    border-radius: 20px;
}

.studySection1 h1,
.studySection1 h6,
.studySection1 p {
    color: #170034;
}

.studySection1 p {
    margin-top: 17.5em;
}


.col2 ul li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #1E0044;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    max-width: 300px;
}

.studySection1 ul li a,
.studySection1 a {
    text-decoration: none;
    color: #170034;
}



.text3 {
    font-family: 'Times New Roman', Times, serif;
    color: #170034;
    font-size: 90%;
}


/* -----------STUDY SECTION TWO---------- */


.studySection2 {
    display: flex;
    min-height: 100vh;
    background-color: #170034;
    border: 20px solid #0B001A;
}

.studySection2 h1,
.studySection2 h6,
.studySection2 p {
    color: #E9DEFF;
}

.text4 {
    font-family: 'Times New Roman', Times, serif;
    color: #E9DEFF;
    font-size: 90%;
}


.studySection2 ul li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #E9DEFF;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    max-width: 300px;
}

.studySection2 ul li a,
.studySection2 a {
    text-decoration: none;
    color: #E9DEFF;
}

.studySection2 p {
    margin-top: 17.5em;
}